* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  display: block;
  image-rendering: pixelated;
}

.tile {
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4)),
    url('../src/textures/white_tile.png') repeat;
  background-size: 64px 64px;
  image-rendering: pixelated;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: rotateX(70deg) translateY(0);
  transform-origin: bottom;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.7),
    0 10px 30px rgba(0, 0, 0, 0.7);
}

.wall {
  width: 200px;
  height: 100vh;
  background: url('../src/textures/wall.png') repeat;
  background-size: 32px 32px;
  image-rendering: pixelated;
  position: fixed;
  z-index: 1;
}

.left {
  left: 0;
  transform:
    skewY(-5deg) rotateY(-10deg) translateZ(20px);
  transform-origin: left;
}

.right {
  right: 0;
  transform:
    skewY(5deg) rotateY(10deg) translateZ(20px);
  transform-origin: right;
}

.doorHandle {
  z-index: 10;
  height: 73px;
  width: 45px;
  background-color: #cccccc00;
  position: fixed;
  top: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  position: fixed,
}

.settingsButton {
  position: fixed;
  background-image: url(./textures/cat_profile.png);
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
}

.hotbar {
  position: fixed;
  background-color: rgb(167, 167, 167);
  bottom: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
}

.inventory {
  position: fixed;
  background-color: rgba(71, 206, 251, 0.622);
  height: 50vh;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactionBox {
  position: fixed;
  background-color: rgba(72, 255, 62, 0.493);
  height: 40vh;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.apple {
  position: fixed;
  background-image: url(./textures/apple.png);
  background-color: #cccccc00;
  background-size: 50px 50px;
  image-rendering: pixelated;
  border: none;
  height: 50px;
  width: 50px;
  right: 20vw;
  bottom: 43vh;
}